<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WellmeadowsProjects.My.MySettings.ConnectionString"
            connectionString="DATA SOURCE=digilab.sut.ac.th:1521/XEPDB1;TNS_ADMIN=C:\Users\hungo\Oracle\network\admin;PERSIST SECURITY INFO=True;USER ID=B6301170"
            providerName="Oracle.ManagedDataAccess.Client" />
        <add name="WellmeadowsProjects.My.MySettings.WellmeadowsConnectionString"
            connectionString="Data Source=LAPTOP-2EPJEP2A\MYSQL;Initial Catalog=Wellmeadows;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>